<header>
    <div class="container header">
        <a href="./index.html" class="header__logo">DonateX</a>
        <nav class="nav">
            <ul class="nav__list">
                <li class="nav__item"><a href="" class="nav__link">Домашня</a></li>
                <li class="nav__item"><a href="" class="nav__link">Про Нас</a></li>
                <li class="nav__item"><a href="" class="nav__link">ПодіЇ</a></li>
                <li class="nav__item"><a href="" class="nav__link">Казуси</a></li>
                <li class="nav__item"><a href="" class="nav__link">Контакти</a></li>
            </ul>
        </nav>
        <button type="button" class="btn header__btn">Donate Now</button>
    </div>
</header>