header {
background-color: #f7f7f7;
margin-bottom: 62px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 117px;

    &__logo {
        font-family: 'Nexa Bold';
        @include font(700, 30px, 30px);
        &:hover{
            color: #FF5D24;
            scale: 1.2;
            // transition: linear 250ms;
        }
        transition: linear 250ms;
        outline: none;
    }


    .nav {
            display: flex;
            font-family: 'Now';
            @include font(400, 16px, 20px);
    
    
            &__list {
                display: flex;
            }
    
            &__item:not(:last-child) {
                margin-right: 49px;
            }
            &__link{
                &:hover,
                &:focus {
                    color: #FF5D24;
                    outline: none;
                    }
            }
    
        }



    &__btn {
        padding-top: 12px;
        padding-right: 20px;
        padding-bottom: 14px;
        padding-left: 20px;

        background-color: #FF5D24;
        color: #fff;

        border-color: transparent;

        border-radius: 5px;

        cursor: pointer;
        &:hover,
        &:focus {
            background-color: #E55320;
        }
    }
}